<div class="container-fluid">
  <nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
      <a style="font-weight: bold;" class="navbar-brand" href="#">Ticket</a>
      <i style="position: absolute;right: 60px;cursor: pointer;" class="bi bi-person-plus-fill"></i>
      <i style="position: absolute;right: 20px;cursor: pointer;" class="bi bi-three-dots-vertical"></i>
    </div>
  </nav>

  <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Dine in
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <a style="text-decoration: none;" href="#" class="list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Apple</h5>
              <small class="text-muted quantity"><i class="bi bi-x"></i>1</small>
              <small class="text-muted price-tag">40</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="accordion-body">
    <a style="text-decoration: none;" href="#" class="list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Tax</h5>
        <small class="text-muted price-tag">6.25</small>
      </div>
    </a>
  </div>
  <hr>
  <div class="accordion-body">
    <a style="text-decoration: none;" href="#" class="list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Total</h5>
        <small class="text-muted price-tag">46.25</small>
      </div>
    </a>
  </div>

  <div class="bottom">
    <button type="button" class="btn btn-success btn-lg">Buy</button>
  </div>
</div>