<div class="container-fluid">
  <nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand ticket-heading" href="#">Ticket</a>
      <i class="bi bi-person-plus-fill person-icon"></i>
      <i class="bi bi-three-dots-vertical three-dots"></i>
    </div>
  </nav>

  <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Dine in
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <a href="#" class="list-group-item-action flex-column align-items-start text-decoration-none">
            <div class="d-flex w-100 justify-content-between" *ngFor="let item of cartItems">
              <p class="mb-1 fw-bold">{{ item }}</p>
              <p class="quantity"><i class="bi bi-x"></i>{{ cart[item].length }}</p>
              <p class="text-muted price-tag fw-bold">{{ getPrice(item) | currency:'INR' }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="accordion-body">
    <a href="#" class="list-group-item-action flex-column align-items-start text-decoration-none">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Tax</h5>
        <p class="text-muted price-tag fw-bold">{{ taxPrice | currency:'INR' }}</p>
      </div>
    </a>
  </div>
  <hr>
  <div class="accordion-body">
    <a href="#" class="list-group-item-action flex-column align-items-start text-decoration-none">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Total</h5>
        <p class="text-muted price-tag fw-bolder">{{ getTotalPrice() | currency:'INR' }}</p>
      </div>
    </a>
  </div>

  <div class="bottom">
    <button type="button" class="btn btn-success btn-lg">Buy</button>
  </div>
</div>