.navbar-brand {
    margin-left: 10px;
}

hr {
    width: 430px; 
    margin: auto;
}

.bottom {
    position: absolute;
    bottom: 45px;
    right: 190px;
}

.person-icon {
    position: absolute;
    right: 60px;
    cursor: pointer;
    font-size: large;
}

.three-dots {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: large;
}

.ticket-heading {
    font-weight: bold;
}

#content {
    display: none;
}

.empty {
    text-align: center;
    font-weight: bold;
}

.items {
    font-size: 10px;
    position: relative;
    right: 5px;
    top: -8px;
}

.cart {
    font-size: larger;
}